.main-footer {
  .container {
    max-width: 1840px;
  }
  .subscribe {
    dt {
      font-family: $saolDisplayLight;
      font-size: 43px;
      font-weight: 300;
      color: #fff;
    }
    dd {
      margin: 0 0 110px 0;
      font-family: $nittiGrotesk;
      font-size: 31px;
      font-weight: 300;
      color: $grey-darken-1;
    }
  }
  .footer-info-title {
    margin-bottom: 30px;
    font-family: $nittiGrotesk;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  .footer-info-address,
  .footer-info-postcode {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
  }
  .no-title {
    .menu-item:first-child {
      margin-top: 60px;
      width: auto;
    }
  }
  .menu-item {
    margin-bottom: 15px;
    max-width: 216px;
  }
  .menu-item:last-child {
    margin-bottom: 0;
  }
  .menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
  }
  .col-3:nth-child(1) {
    margin-right: 116px;
  }
  .col-3:nth-child(2) {
    margin-right: 445px;
  }
  .col-3:nth-child(3) {
    margin-right: 300px;
  }
  .footer-copyright {
    justify-content: space-between;
    align-items: center;
    margin: 96px 0 56px 0;
    .footer-copyright-menu {
      display: flex;
      justify-content: space-between;
      .menu-item {
        margin-right: 45px;
        margin-bottom: 0;
      }
      .menu-link {
        font-size: 25px;
        font-weight: 300;
        font-family: $nittiGrotesk;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .copyright-link {
      text-decoration: none;
      font-family: $nittiGrotesk;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
    }
  }
}
