@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bebebe;
  -webkit-text-size-adjust: 100%;
  background-color: #a7a8aa;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
