@font-face {
  font-family: SaolDisplay;
  src: url(../fonts/SaolDisplay-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

$saolDisplayLight: SaolDisplay;
$nittiGrotesk: NittiGrotesk;
$kalameh: Kalameh;
$hero-text: #263238;
$grey-darken-1: #757575;
$grey-lighten: linear-gradient(to bottom, rgba(238, 238, 238, 0) 69%, #a7a8aa);
