@font-face {
  font-family: SaolDisplay;
  src: url(../../fonts/SaolDisplay-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

$saolDisplayLight : SaolDisplay;
